<html>
  <body>
    <h2>Welcome, {{name}}</h2>
    <p>We’re happy to have you on board,
      {{name}}. Your registered email is
      <b>{{email}}</b>.</p>
    <p>Click <a href="{{link}}">here</a> to verify your account.</p>
  </body>
</html>